<div class="row">
    <div class="col-md-8 align-items-center">
    </div>
    <div class="col-md-4 text-right align-items-top">
        <button mat-ripple (click)="close()" class="btn button text-white btn-xs float-end" type="button"><i
                class="mdi mdi-close"></i></button>
    </div>
</div>

<div class="row mb-lg-3 mb-md-3 mb-3">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <h1 class="fw-bold text-center mb-3 font-weight-normal">Change Password</h1>
        <form action="#" [formGroup]="form" (ngSubmit)="submit()">
            <div class="mb-3">
                <label for="emailaddress" class="form-label">Email</label>
                <input class="form-control" type="email" id="emailaddress" formControlName="email"
                    placeholder="email" readonly>
                <vmessage field="email" [control]="form.controls['email']"></vmessage>
            </div>
            <div class="mb-3">
                <label for="emailaddress" class="form-label">Old Password</label>
                <div class="input-group input-group-merge">
                    <input class="form-control" [type]="showOldPassword?'text':'password'" id="emailaddress" placeholder="Old Password"
                        formControlName="oldPassword">
                        <div (click)="showOldPassword = !showOldPassword" class="input-group-text" data-password="false">
                            <span *ngIf="showOldPassword" class="bi bi-eye-slash"></span>
                            <span *ngIf="!showOldPassword" class="bi bi-eye"></span>
                        </div>
                </div>
                <vmessage field="oldPassword" [control]="form.controls['oldPassword']"></vmessage>
            </div>
            <div class="mb-3">
                <label for="emailaddress" class="form-label">New Password</label>
                <div class="input-group input-group-merge">
                    <input class="form-control" [type]="showNewPassword?'text':'password'" id="emailaddress" placeholder="New Password"
                        formControlName="newPassword">
                        <div (click)="showNewPassword = !showNewPassword" class="input-group-text" data-password="false">
                            <span *ngIf="showNewPassword" class="bi bi-eye-slash"></span>
                            <span *ngIf="!showNewPassword" class="bi bi-eye"></span>
                        </div>
                </div>
                <vmessage field="newPassword" [control]="form.controls['newPassword']"></vmessage>
            </div>
            <div class="mb-3">
                <label for="emailaddress" class="form-label">Confirm Password</label>
                <div class="input-group input-group-merge">
                    <input class="form-control" [type]="showPassword?'text':'password'" id="emailaddress" placeholder="Confirm Password"
                        formControlName="confirmPassword">
                        <div (click)="showPassword = !showPassword" class="input-group-text" data-password="false">
                            <span *ngIf="showPassword" class="bi bi-eye-slash"></span>
                            <span *ngIf="!showPassword" class="bi bi-eye"></span>
                        </div>
                </div>
                <vmessage field="confirmPassword" [control]="form.controls['confirmPassword']"></vmessage>
            </div>
            <div class="text-center d-grid">
                <button class="btn button text-white" type="submit"> Save </button>

            </div>
        </form>
    </div>
</div>