//
// dark-mode.scss
//

// Dark Variable

body[data-theme="dark"] {

    // Background and text color Variable - Darm Mode Only
    $body-bg: #303841;
    $body-color: #94a0ad;

    // Color system - Dark Mode only
    $gray-100: #323a46;
    $gray-200: #36404a;
    $gray-300: #424e5a;
    $gray-400: #5d7186;
    $gray-500: #8c98a5;
    $gray-600: #cedeef;
    $gray-700: #dee2e6;
    $gray-800: #f7f7f7;
    $gray-900: #f3f7f9;

    $grays: (
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900,
    );

    // Prefix gray variables
    @each $color, $value in $grays {
        --#{$prefix}gray-#{$color}: #{$value};
    }

    // Prefix gray-rgb variables
    @each $color, $value in $grays {
        --#{$prefix}gray-#{$color}-rgb: #{to-rgb($value)};
    }

    // <=============================================>
    // Bootstrap variable (Dark Mode)
    // <=============================================>

    // Body - Dark Mode variable
    --#{$prefix}body-bg: #{$body-bg};
    --#{$prefix}body-color: #{$body-color};
    --#{$prefix}body-bg-rgb: #{to-rgb($body-bg)};
    --#{$prefix}body-color-rgb: #{to-rgb($body-color)};

    // theme-color
    --#{$prefix}light: #{$gray-300};
    --#{$prefix}light-rgb: #{to-rgb($gray-300)};
    --#{$prefix}dark: #{$gray-900};
    --#{$prefix}dark-rgb: #{to-rgb($gray-900)};

    // Link Variable
    --#{$prefix}link-color: #{$primary};
    --#{$prefix}link-hover-color: #{$primary};

    // Border Variable
    --#{$prefix}border-color: #{$gray-300};

    // scss-docs-start box-shadow-variables
    --#{$prefix}box-shadow: 0px 0px 35px 0px #{rgba(66, 72, 80, 0.15)};
    --#{$prefix}box-shadow-sm: 0 0.75rem 6rem #{rgba(56, 65, 74, 0.03)};
    --#{$prefix}box-shadow-lg: 0 0 45px 0 #{rgba(0, 0, 0, 0.12)};
    --#{$prefix}box-shadow-inset: inset 0 -0.1rem 0 #{rgba($black, 0.075)};

    // scss-docs-end box-shadow-variables
    --#{$prefix}component-active-color: #{$white};
    --#{$prefix}component-active-bg: #{$primary};

    // scss-docs-start type-variables
    --#{$prefix}text-muted: #{$gray-500};
    --#{$prefix}blockquote-footer-color: #{$gray-600};

    --#{$prefix}hr-color: #{$gray-300};

    --#{$prefix}mark-bg: #fcf8e3;

    // scss-docs-start table-variables
    .table, .table-bordered, .table-striped, .jsgrid-table {
        --#{$prefix}table-color:  #{var(--#{$prefix}body-color)};
        --#{$prefix}table-bg:     transparent;
        --#{$prefix}table-accent-bg: transparent;
        --#{$prefix}table-striped-color: #{var(--#{$prefix}body-color)};
        --#{$prefix}table-striped-bg: #{lighten($gray-200, 2.5%)};
        --#{$prefix}table-active-color: #{var(--#{$prefix}body-color)};
        --#{$prefix}table-active-bg: #{lighten($gray-200, 2.5%)};
        --#{$prefix}table-hover-color: #{var(--#{$prefix}body-color)};
        --#{$prefix}table-hover-bg: #{lighten($gray-200, 2.5%)};
        --#{$prefix}table-border-color: #{$gray-300};
        --#{$prefix}table-group-separator-color: #{$gray-300};
        --#{$prefix}table-caption-color: #{$text-muted};
    }

    // scss-docs-start btn-variables
    .btn {
        --#{$prefix}btn-box-shadow: 0 0 0;
        --#{$prefix}btn-active-box-shadow: inset 0 3px 5px #{rgba($black, 0.125)};
        --#{$prefix}btn-link-color: #{$link-color};
        --#{$prefix}btn-link-hover-color: #{$link-hover-color};
        --#{$prefix}btn-link-disabled-color: #{$gray-600};
    }

    // scss-docs-start nav-variables
    .nav {
        --#{$prefix}nav-link-disabled-color: #{$gray-600};
        --#{$prefix}nav-tabs-border-color: #{$gray-300};
        --#{$prefix}nav-tabs-link-hover-border-color: #{$gray-200} #{$gray-200} #{$nav-tabs-border-color};
        --#{$prefix}nav-tabs-link-active-color: #{$gray-700};
        --#{$prefix}nav-tabs-link-active-bg: #{$gray-300};
        --#{$prefix}nav-tabs-link-active-border-color: #{$gray-300 $gray-300 $nav-tabs-link-active-bg};
    }

    // scss-docs-start navbar-variables
    .navbar {
        --#{$prefix}navbar-light-color: #{rgba($gray-800, 0.5)};
        --#{$prefix}navbar-light-hover-color: #{rgba($gray-800, 0.7)};
        --#{$prefix}navbar-light-active-color: #{rgba($gray-800, 0.9)};
        --#{$prefix}navbar-light-disabled-color: #{rgba($gray-800, 0.3)};
        --#{$prefix}navbar-light-toggler-border-color: #{rgba($gray-800, 0.1)};
    }

    // scss-docs-start navbar-dark-theme-variables
    .navbar-dark {
        --#{$prefix}navbar-dark-color: #{rgba($white, 0.55)};
        --#{$prefix}navbar-dark-hover-color: #{rgba($white, 0.75)};
        --#{$prefix}navbar-dark-active-color: #{$white};
        --#{$prefix}navbar-dark-disabled-color: #{rgba($white, 0.25)};
        --#{$prefix}navbar-dark-toggler-border-color: #{rgba($white, 0.1)};
    }

    // scss-docs-start dropdown-variables
    .dropdown-menu, .select2-dropdown, .selectize-dropdown, .autocomplete-suggestions, .daterangepicker, .ql-toolbar, .dd-list, .popover-content, .clockpicker-popover, .flatpickr-calendar, .message-list, .mail-list, .right-bar  {
        --#{$prefix}dropdown-color: #{var(--#{$prefix}body-color)};
        --#{$prefix}dropdown-bg: #{lighten($gray-200, 2.5%)};
        --#{$prefix}dropdown-border-color: #{lighten($gray-200, 5%)};
        --#{$prefix}dropdown-divider-bg: #{lighten($gray-300, 2.5%)};
        --#{$prefix}dropdown-box-shadow: 0 0.5rem 1rem #{rgba($black, 0.175)};
        --#{$prefix}dropdown-link-color: #{var(--#{$prefix}body-color)};
        --#{$prefix}dropdown-link-hover-color: #{$headings-color};
        --#{$prefix}dropdown-link-hover-bg: #{$gray-300};
        --#{$prefix}dropdown-link-active-color: #{$gray-900};
        --#{$prefix}dropdown-link-active-bg: #{$gray-300};
        --#{$prefix}dropdown-link-disabled-color: #{$gray-400};
    }

    // scss-docs-start dropdown-dark-variables
    .dropdown-menu-dark, .select2-dropdown, .selectize-dropdown, .autocomplete-suggestions, .daterangepicker, .ql-toolbar, .dd-list, .popover-content, .clockpicker-popover, .flatpickr-calendar, .message-list, .mail-list, .right-bar  {
        --#{$prefix}dropdown-dark-color: #{$gray-300};
        --#{$prefix}dropdown-dark-bg: #{$gray-800};
        --#{$prefix}dropdown-dark-border-color: #{$dropdown-border-color};
        --#{$prefix}dropdown-dark-divider-bg: #{$dropdown-divider-bg};
        --#{$prefix}dropdown-dark-link-color: #{$dropdown-dark-color};
        --#{$prefix}dropdown-dark-link-hover-color: #{$white};
        --#{$prefix}dropdown-dark-link-hover-bg: #{rgba($white, 0.15)};
        --#{$prefix}dropdown-dark-link-active-color: #{$dropdown-link-active-color};
        --#{$prefix}dropdown-dark-link-active-bg: #{$dropdown-link-active-bg};
        --#{$prefix}dropdown-dark-link-disabled-color: #{$gray-500};
        --#{$prefix}dropdown-dark-header-color: #{$gray-500};
    }

    // scss-docs-start pagination-variables
    .pagination {
        --#{$prefix}pagination-color: #{$gray-900};
        --#{$prefix}pagination-bg: #{lighten($gray-200, 2.5%)};
        --#{$prefix}pagination-border-color: #{$gray-300};
        --#{$prefix}pagination-focus-color: #{$gray-900};
        --#{$prefix}pagination-focus-bg: #{$gray-300};
        --#{$prefix}pagination-focus-box-shadow: #{$input-btn-focus-box-shadow};
        --#{$prefix}pagination-hover-color: #{$gray-900};
        --#{$prefix}pagination-hover-bg: #{$gray-300};
        --#{$prefix}pagination-hover-border-color: #{lighten($gray-300, 2.5%)};
        --#{$prefix}pagination-disabled-color: #{$gray-600};
        --#{$prefix}pagination-disabled-bg: #{$gray-300};
        --#{$prefix}pagination-disabled-border-color: #{$gray-300};
    }

    // scss-docs-start card-variables
    .card, .card-header, .timeline, .gal-box, #preloader {
        --#{$prefix}card-border-color: #{$gray-200};
        --#{$prefix}card-box-shadow: #{$box-shadow-sm};
        --#{$prefix}card-cap-bg: #{$gray-300};
        --#{$prefix}card-bg: #{$gray-200};
    }

    // scss-docs-start accordion-variables
    .accordion {
        --#{$prefix}accordion-color: #{var(--#{$prefix}body-color)};
        --#{$prefix}accordion-border-color: #{rgba($black, 0.125)};
        --#{$prefix}accordion-button-active-bg: #{tint-color($primary, 90%)};
        --#{$prefix}accordion-button-active-color: #{shade-color($primary, 10%)};
        --#{$prefix}accordion-button-focus-border-color: #{$input-focus-border-color};
        --#{$prefix}accordion-button-focus-box-shadow: #{$btn-focus-box-shadow};
    }

    // scss-docs-start tooltip-variables
    .tooltip {
        --#{$prefix}tooltip-color: #{$white};
        --#{$prefix}tooltip-bg: #{$black};
    }

    // scss-docs-start popover-variables
    .popover {
        --#{$prefix}popover-bg: #{lighten($gray-200, 3%)};
        --#{$prefix}popover-border-color: #{$gray-300};
        --#{$prefix}popover-box-shadow: 0 0.25rem 0.5rem #{rgba($black, 0.2)};
        --#{$prefix}popover-header-bg: #{$gray-100};
        --#{$prefix}popover-header-color: #{$headings-color};
        --#{$prefix}popover-body-color: #{$gray-600};
        --#{$prefix}popover-arrow-color: #{lighten($gray-200, 3%)};
        --#{$prefix}popover-arrow-outer-color: #{lighten($gray-200, 10%)};
    }

    // scss-docs-start toast-variables
    .toast {
        --#{$prefix}toast-background-color: #{rgba($gray-200, 0.85)};
        --#{$prefix}toast-border-color: #{rgba($black, 0.1)};
        --#{$prefix}toast-box-shadow: 0 0.25rem 0.75rem #{rgba($black, 0.1)};
        --#{$prefix}toast-header-color: #{$gray-600};
        --#{$prefix}toast-header-background-color: #{rgba($gray-100, 0.85)};
        --#{$prefix}toast-header-border-color: #{rgba($black, 0.05)};
    }

    // scss-docs-start badge-variables
    .badge {
        --#{$prefix}badge-color: #{$white};
    }

    // scss-docs-start modal-variables
    .modal, .modal-backdrop, .offcanvas, .offcanvas-backdrop {
        --#{$prefix}modal-content-bg: #{$gray-200};
        --#{$prefix}modal-content-box-shadow-xs: 0 0.25rem 0.5rem #{rgba($black, 0.5)};
        --#{$prefix}modal-content-box-shadow-sm-up: 0 0.5rem 1rem #{rgba($black, 0.5)};
        --#{$prefix}modal-backdrop-bg: #{$gray-900};
        --#{$prefix}modal-header-border-color: #{lighten($gray-200, 5%)};
        --#{$prefix}modal-footer-border-color: #{lighten($gray-200, 5%)};
    }

    // scss-docs-start offcanvas-variables
    .offcanvas, .offcanvas-xxl, .offcanvas-xl, .offcanvas-lg, .offcanvas-md, .offcanvas-sm {
        --#{$prefix}offcanvas-bg:                            #{tint-color($gray-200, 2%)};
        --#{$prefix}offcanvas-border-color:                  #{transparent};
    }

    // scss-docs-start progress-variables
    .progress, .irs {
        --#{$prefix}progress-bg: #{$gray-300};
        --#{$prefix}progress-box-shadow: #{$box-shadow-inset};
        --#{$prefix}progress-bar-color: #{$white};
        --#{$prefix}progress-bar-bg: #{$primary};
    }

    // scss-docs-start list-group-variables
    .list-group {
        --#{$prefix}list-group-color: #{null};
        --#{$prefix}list-group-bg: #{$gray-200};
        --#{$prefix}list-group-border-color: #{$gray-300};
        --#{$prefix}list-group-hover-bg: #{lighten($gray-200, 2.5%)};
        --#{$prefix}list-group-disabled-color: #{$gray-600};
        --#{$prefix}list-group-disabled-bg: #{$list-group-bg};
        --#{$prefix}list-group-action-color: #{$gray-500};
        --#{$prefix}list-group-action-active-color: #{var(--#{$prefix}body-color)};
        --#{$prefix}list-group-action-active-bg: #{$gray-200};
    }

    // scss-docs-start input-btn-variables
    --#{$prefix}input-btn-focus-color: #{rgba($primary, 0.25)};

    // scss-docs-start form-text-variables
    --#{$prefix}form-text-color: #{$text-muted};

    // scss-docs-start form-input-variables
    --#{$prefix}input-bg:            #{lighten($gray-200, 2.5%)};
    --#{$prefix}input-disabled-bg:   #{lighten($gray-200, 2.5%)};
    --#{$prefix}input-color:         #{var(--#{$prefix}body-color)};
    --#{$prefix}input-border-color:  #{$gray-300};
    --#{$prefix}input-box-shadow:    inset 0 1px 1px #{rgba($black, 0.075)};
    --#{$prefix}input-focus-bg:      #{$input-bg};
    --#{$prefix}input-focus-border-color: #{lighten($gray-300, 2.5%)};
    --#{$prefix}input-focus-color: #{var(--#{$prefix}body-color)};
    --#{$prefix}input-placeholder-color: #{lighten($gray-300, 10%)};
    --#{$prefix}input-plaintext-color: #{var(--#{$prefix}body-color)};

    // scss-docs-start form-check-variables
    --#{$prefix}form-check-input-bg: #{lighten($gray-200, 2.5%)};
    --#{$prefix}form-check-input-border: #{$border-width solid $gray-400};
    --#{$prefix}form-check-input-checked-color: #{$component-active-color};
    --#{$prefix}form-check-input-checked-bg-color: #{$component-active-bg};
    --#{$prefix}form-check-input-checked-border-color: #{$form-check-input-checked-bg-color};
    --#{$prefix}form-check-input-indeterminate-color: #{$component-active-color};
    --#{$prefix}form-check-input-indeterminate-bg-color: #{$component-active-bg};
    --#{$prefix}form-check-input-indeterminate-border-color: #{$form-check-input-indeterminate-bg-color};

    // scss-docs-start form-switch-variables
    --#{$prefix}form-switch-color: #{$gray-400};

    // scss-docs-start input-group-variables
    --#{$prefix}input-group-addon-color:           #{var(--#{$prefix}body-color)};
    --#{$prefix}input-group-addon-bg:              #{$gray-200};
    --#{$prefix}input-group-addon-border-color:    #{$gray-300};

    // scss-docs-start form-select-variables
    --#{$prefix}form-select-color:                 #{var(--#{$prefix}body-color)};
    --#{$prefix}form-select-bg:                    #{$input-bg};
    --#{$prefix}form-select-disabled-color:        #{$gray-600};
    --#{$prefix}form-select-disabled-bg:           #{$gray-200};
    --#{$prefix}form-select-disabled-border-color: #{$input-disabled-border-color};
    --#{$prefix}form-select-indicator-color:       #{$gray-800};

    // scss-docs-start form-range-variables
    --#{$prefix}form-range-track-bg:               #{$gray-300};
    --#{$prefix}form-range-track-box-shadow:       inset 0 0.25rem 0.25rem #{rgba($black, 0.1)};
    --#{$prefix}form-range-thumb-box-shadow:       0 0.1rem 0.25rem #{rgba($black, 0.1)};
    --#{$prefix}form-range-thumb-active-bg:        #{tint-color($primary, 70%)};
    --#{$prefix}form-range-thumb-disabled-bg:      #{$gray-500};

    // scss-docs-start form-file-variables
    --#{$prefix}form-file-button-color:    #{var(--#{$prefix}body-color)};
    --#{$prefix}form-file-button-bg:       #{$input-group-addon-bg};
    --#{$prefix}form-file-button-hover-bg: #{shade-color($gray-200, 5%)};
    // scss-docs-start thumbnail-variables
    --#{$prefix}thumbnail-bg:             #{$gray-300};
    --#{$prefix}thumbnail-border-color:   #{$gray-300};
    --#{$prefix}thumbnail-box-shadow:     0 1px 2px #{rgba($black, 0.075)};

    // scss-docs-start figure-variables
    --#{$prefix}figure-caption-color:              #{$gray-600};

    // scss-docs-start breadcrumb-variables
    --#{$prefix}breadcrumb-divider-color:           #{$gray-400};
    --#{$prefix}breadcrumb-active-color:            #{$gray-500};

    // scss-docs-start carousel-variables
    --#{$prefix}carousel-control-color:             #{$white};
    --#{$prefix}carousel-indicator-active-bg:       #{$white};
    --#{$prefix}carousel-caption-color:             #{$white};
    --#{$prefix}carousel-dark-indicator-active-bg:  #{$black};
    --#{$prefix}carousel-dark-caption-color:        #{$black};

    // scss-docs-start close-variables
    --#{$prefix}btn-close-color:    #{$gray-800};

    // Code
    --#{$prefix}code-color:        #{$pink};

    --#{$prefix}kbd-color:       #{$white};
    --#{$prefix}kbd-bg:          #{$gray-300};
    --#{$prefix}pre-color:       #{$gray-900};

    // <=============================================>
    // Custome variable
    // <=============================================>

    // left-sidebar
    --#{$prefix}bg-leftbar:                      #{$white};
    --#{$prefix}bg-leftbar-dark:                #37424c;
    --#{$prefix}bg-leftbar-brand:               #4a81d4;
    --#{$prefix}bg-leftbar-gradient:            #683ba9;

    // Compact sidebar
    --#{$prefix}twocolumn-sidebar-bg:                      #{$white};
    --#{$prefix}twocolumn-sidebar-iconview-bg:            #4a81d4;

    // Dark leftbar menu color
    --#{$prefix}menu-item-color-dark:                       #9097a7;
    --#{$prefix}menu-item-hover-color-dark:                 #c8cddc;
    --#{$prefix}menu-item-active-color-dark:                 #{$white};

    //Menu item
    --#{$prefix}menu-item:                                   #6e768e;
    --#{$prefix}menu-item-hover:                             #4a81d4;
    --#{$prefix}menu-item-active:                            #4a81d4;
    --#{$prefix}menu-sub-item-active:                        #4a81d4;

    --#{$prefix}menuitem-active-bg:                          #{rgba(#4a81d4, 0.07)};

    // Horizontal Menu Item
    --#{$prefix}hori-menu-item-color:                        #919eab;

    // Right-sidebar
    --#{$prefix}rightbar-bg:                                 #3b4651;

    //Topbar Background
    --#{$prefix}bg-topbar-light:                             #3c4752;
    --#{$prefix}bg-topbar-dark:                              #3c4752;

    // app-search-box-bg
    --#{$prefix}app-search-box-bg:                             #{$gray-100};

    // Leftbar item shadow (Condensed item)
    --#{$prefix}box-shadow-condensed:                          3px 5px 10px 0 rgb(50, 58, 66);

    // Footer
    --#{$prefix}footer-bg:                                     #2b323a;

    // User authentication Background
    --#{$prefix}auth-bg:                                       #36404a;
    --#{$prefix}auth-bg-alt:                                   #3e4852;

    // Apex chart
    --#{$prefix}apex-grid-color:                               #3e4852;

    // Chat widget
    --#{$prefix}chat-primary-user-bg:                          #404c58;
    --#{$prefix}chat-secondary-user-bg:                        #404c58;

    // Text-color (h1 to h6)
    --#{$prefix}heading-color:                                  #acbfd2;

    // Card overlay
    --#{$prefix}card-overlay-color:                              #{$white};
    --#{$prefix}card-overlay-bg:                                 #{rgba($white, 0.1)};

    // Input light gray
    --#{$prefix}input-light-bg:                                  #3b4550;
    
    // Input light gray
    --#{$prefix}lighten-300:                                  #{lighten($gray-300,5%)};
}
