.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
// @media (max-width: 653px) and (min-width: 280px) {
//   #galaxyfold{
//     display: flex !important;
//     align-items: baseline !important;    
//   }
// }

// @media (min-width: 280px) and (max-width: 653px) {
//   .galaxyfold{
//     display: block !important;
//   }
// }