<div  class="image"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-3 margin">
            <div class="card bg-pattern">

                <div class="p-3">
                    <h1 class="text-center fw-bold mb-4 text-white">Login</h1>

                    <form [formGroup]="form" (ngSubmit)="submit()" class="px-2">

                        <div class="mb-3">
                            <label for="emailaddress" class="form-label text-white">Email address</label>
                            <input class="form-control" type="email" id="emailaddress" required=""
                                formControlName="email" placeholder="Enter your email">
                            <vmessage field="email" [control]="form.controls['email']"></vmessage>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label text-white">Password</label>
                            <div class="input-group input-group-merge">
                                <input [type]="(showPassword)?'text':'password'" id="password" class="form-control"
                                    formControlName="password" placeholder="Enter your password">
                                <div (click)="showPassword = !showPassword" class="input-group-text"
                                    data-password="false">
                                    <span *ngIf="showPassword" class="bi bi-eye-slash"></span>
                                    <span *ngIf="!showPassword" class="bi bi-eye"></span>
                                </div>
                            </div>
                            <vmessage field="password" [control]="form.controls['password']"></vmessage>
                        </div>

                        <div class="mb-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input button border-0" id="checkbox-signin"
                                    checked>
                                <label class="form-check-label text-white" for="checkbox-signin">Remember me</label>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="text-center d-grid">
                                    <button class="btn button text-white" type="submit"> Log In </button>

                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="text-center">
                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p> <a routerLink="/forgot-password" class=" ms-1 text-white fw-bold">Forgot your
                                        password?</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-loading></app-loading>