<div class="row">
    <div class="col-6 align-items-center">
        <h5 mat-dialog-title class="mt-0 mb-1">OVERRIDE</h5>
    </div>
    <div class="col-6 text-right align-items-top">
        <button mat-ripple (click)="close()" class="btn btn-danger btn-xs float-end" type="button"><i
                class="mdi mdi-close"></i></button>
    </div>
</div>
<hr class="my-1">
<div class="row">
    <div class="col-md-12 col-lg-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="mb-3">
                <label for="text" class="form-label">Email</label>
                <input class="form-control" type="email" formControlName="userName" placeholder="Email Address">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">Password</label>
                <input class="form-control" type="password" formControlName="password" placeholder="Password">
            </div>
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-primary mb-3 w-100" type="submit"> Login </button>
                </div>
                <div class="col-6">
                    <div class="btn btn-danger w-100" (click)="close()"> Cancel </div>
                </div>
            </div>
    
        </form>
    </div>
</div>