<div class="card mt-2">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h4 class="font-22">Action List</h4>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <div class="input-group input-group-merge">
                            <input type="text" id="customer" class="form-control" formControlName="customer"
                                placeholder="customer" readonly>
                        </div>
                        <vmessage field="customer" [control]="form.controls['customer']"></vmessage>
                    </div>
                    <div class="mb-3">
                        <div class="input-group input-group-merge">
                            <input type="text" id="customer" class="form-control" formControlName="contactName"
                                placeholder="Customer Name" readonly>
                        </div>
                        <vmessage field="contactName" [control]="form.controls['contactName']"></vmessage>
                    </div>
                    <div class="mb-3">
                        <div class="input-group input-group-merge">
                            <input type="text" id="contact_no" class="form-control" formControlName="contactNo"
                                placeholder="Contact No" readonly>
                            <vmessage field="contactNo" [control]="form.controls['contactNo']"></vmessage>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <div class="input-group input-group-merge">
                            <input type="text" id="order_no" class="form-control" formControlName="orderNo"
                                placeholder="Order No" readonly>
                            <vmessage field="orderNo" [control]="form.controls['orderNo']"></vmessage>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group input-group-merge">
                            <input type="text" id="quote_no" class="form-control" formControlName="quoteNo"
                                placeholder="Quote No" readonly>
                            <vmessage field="quoteNo" [control]="form.controls['quoteNo']"></vmessage>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group input-group-merge">
                            <input type="text" id="order_no" class="form-control" formControlName="product"
                                placeholder="Product" readonly>
                            <vmessage field="product" [control]="form.controls['product']"></vmessage>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="float-end">
                        <div class="btn btn-secondary mx-1" (click)="printActionsList(quoteId)">
                            Print
                        </div>
                        <div class="btn btn-warning" (click)="sendActionsList(quoteId)">
                            Send
                        </div>
                        <div class="btn btn-primary mx-1" (click)="comment_popup(quoteId)">
                            Notes
                        </div>
                        <div class="btn btn-danger" (click)="overRide_popup()">
                            Override
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="responsive-table-plugin">
                    <div class="table-category-plugin">
                        <div class="table-responsive" data-pattern="priority-columns">
                            <table id="tech-companies-1" class="table table-striped">
                                <tbody>
                                    <ng-container *ngFor="let item of data; index as i;">
                                        <tr>
                                            <ng-container *ngIf="enableEditIndex != i">
                                                <td>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox"  [disabled]="(item.actionDate || item.actionManagerUser || !item.roleAllowed || !item.dependencyDone) && !overRide" [checked]="(item.actionDate || item.actionManagerUser )  "
                                                            (click)="switchEditMode(i)">
                                                    </div>
                                                </td>
                                                <td>{{item.description}}</td>
                                                <td>
                                                    <div *ngIf="item.attachDocs">
                                                        <button (click)="uploadFile.click()" [disabled]="(item.actionDate || item.actionManagerUser) && !overRide"
                                                            class="btn btn-primary btn-xs">
                                                            Attach
                                                        </button>
                                                        <input #uploadFile type="file" hidden
                                                            (change)="uploadTemplate($event)">
                                                        <button class="btn btn-secondary ms-1 btn-xs mt-1 mt-lg-0 "
                                                            *ngIf="item.downloadCount>0 && item.downloadCount !=null"
                                                            (click)="viewPopUp(item.actionListId)">
                                                            View
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>{{item.actionDescription}}</td>
                                                <td>{{item.extraFieldDescription}}</td>
                                                <td>
                                                    <div *ngIf="item.userList">
                                                        <mat-form-field appearance="outline">
                                                            <mat-label>Select User</mat-label>                                                         
                                                            <!-- <div *ngIf="item.actionName"> -->
                                                            <mat-select [disabled]="(item.actionDate || item.actionManagerUser)" [(value)]="selectedValue[findIndex(item.actionName)]" required>
                                                                    <mat-option  *ngFor="let item of selectUserList" [value]="item">
                                                                        {{item.name}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            <!-- </div> -->
                                                        </mat-form-field>
                                                    </div>
                                                    <div *ngIf="item.dateField">
                                                        {{item.date}}
                                                    </div>
                                                </td>
                                                <td>{{item.notes}}</td>
                                                <td>
                                                    {{(item.actionDate)?moment(item.actionDate).format('DD-MM-YYYY HH:mm'):null}}
                                                </td>
                                                <td>
                                                    {{item.actionManagerUser}}
                                                </td>
                                                <td>
                                                    <div class="btn btn-primary btn-xs" *ngIf="item.sendEmail && item.actionListId != null"
                                                        (click)="reSendAction(item.actionListId)">
                                                        Re-Send
                                                    </div>
                                                </td>
                                                <td><button class="btn btn-danger btn-xs" *ngIf="overRide && item.actionDate && item.actionManagerUser "   (click)="deleteAction(item.actionListId)"><i class="fe-trash-2"></i></button></td>
                                            </ng-container>
                                            <ng-container *ngIf="enableEditIndex == i">
                                                <td>
                                                    <div class="form-check">
                                                        <input [checked]="true" class="form-check-input"  type="checkbox" (click)="editModeOff(i)">
                                                    </div>
                                                </td>
                                                <td><input [(ngModel)]="item.description" readonly disabled/></td>
                                                <td>
                                                    <div *ngIf="item.attachDocs" [formGroup]="tableForm">
                                                        <button (click)="uploadFile.click()"
                                                            class="btn btn-primary btn-xs">
                                                            Attach
                                                        </button>
                                                        <input #uploadFile type="file" hidden [required]="item.isAttachmentMandatory"
                                                            (change)="uploadTemplate($event)">
                                                            <!-- <div class="alert alert-danger" *ngIf="!item.isAttachmentMandatory.errors?.required">   
                                                                <p> Attachment is required.</p>
                                                              </div> -->
                                                        <button class="btn btn-secondary ms-1 btn-xs"
                                                            *ngIf="item.downloadCount>0 && item.downloadCount !=null"
                                                            (click)="viewAttachment(item.actionListId)">
                                                            View
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div *ngIf="item.extraField" [formGroup]="tableForm">
                                                    <input formControlName="description" required/>
                                                    </div>
                                                </td>
                                                <td>{{item.extraFieldDescription}}</td>
                                                <td>
                                                    <div *ngIf="item.userList" [formGroup]="tableForm">
                                                        <mat-form-field appearance="outline">
                                                        <mat-label>Select User</mat-label>
                                                        <mat-select formControlName="actionName"  required>
                                                            <mat-option *ngFor="let item of selectUserList"  [value]="item" >
                                                            {{item.name}}
                                                            </mat-option>
                                                        </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    
                                                    <div *ngIf="item.dateField" [formGroup]="tableForm">
                                                        <input [(ngModel)]="item.actionDate" type="date"
                                                            formControlName="actionDate" />
                                                    </div>

                                                </td>

                                                <td>
                                                    <div *ngIf="item.extraDescription" [formGroup]="tableForm" >
                                                        <input [(ngModel)]="item.notes" formControlName="notes" />
                                                    </div>
                                                </td>
                                                <td>
                                                    {{(item.actionDate)?moment(item.actionDate).format('DD-MM-YYYY HH:mm'):null}}
                                                </td>
                                                <td>
                                                    {{item.actionManagerUser}}
                                                </td>
                                                <td>
                                                    <div class="btn btn-primary btn-xs" *ngIf="item.sendEmail && item.actionListId != null"
                                                        (click)="reSendAction(item.actionListId)">
                                                        Re-Send
                                                    </div>
                                                </td>


                                                <td><button class="btn btn-primary btn-xs" [disabled]="(item.isAttachmentMandatory && templates.length==0) || !tableForm.valid"   (click)="save(item.code)"><i class="fe-save"></i></button></td>
                                               
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<app-loading></app-loading>