.margin {
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.bg-pattern {
    background: rgb(95, 93, 129);
    background: linear-gradient(rgb(56 22 22 / 95%) 0%, rgba(1, 8, 5, 0.253) 17%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.image {
    background: url(/assets/images/event.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    width: 100% !important;
    height: 100vh !important;
}
