<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu bg-sidemenu leftbar overflow-auto ">

    <div class="h-100" data-simplebar>
        <div class="user-box text-center p-2 pt-0 pb-0" (click)="topmenu = !topmenu">
            <div class="d-flex align-items-baseline border-bottom border-light border-2 pb-2 mt-5 mt-lg-0 mt-md-5 justify-content-center">

                <h4 class="mb-0 text-white font-22">Space Locator</h4>
                <div class="dropdown ms-2">
                    <a href="javascript: void(0);" class="text-light dropdown-toggle title h5 mt-2   mb-1 d-block"
                        data-bs-toggle="dropdown">{{companyName}} <span class="bi bi-caret-down-fill"></span></a>
                    <div class="dropdown-menu user-pro-dropdown" [class.show]="topmenu">


                        <!-- item-->
                        <a (click)="newDialog();" class="dropdown-item notify-item">
                            <i class="fe-lock me-1"></i>
                            <span routerLink="/change-password">Change Password</span>
                        </a>

                        <!-- item-->
                        <a (click)="logout()" class="dropdown-item notify-item">
                            <i class="fe-log-out me-1"></i>
                            <span>Logout</span>
                        </a>

                    </div>
                </div>
            </div>

            <p class="text-light">{{userName}} </p>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu" class="mt-3">
                <li (click)="removeClass()">

                    <a routerLink="properties"><i class="bi-bar-chart"></i>List</a>
                    <!-- <a routerLink="properties/detail"><i class="bi-bar-chart"></i>Detail</a> -->
                </li>
                <li *ngFor="let item of leftMenuData; let i = index;">
                    <!-- <a *ngIf="item.menuGroups.length == 0" routerLink="{{item.link}}">
                        <i class="{{item.icon}}"></i>
                        <span> {{item.tab}} </span>
                    </a> -->
                    <a class="cursor" *ngIf="item.menuGroups.length > 0" (click)="openMenu(i)">
                        <i class="{{getIcon(item.tab)}}"></i>
                        <span> {{item.tab}}</span>
                        <span class="menu-arrow" [class.open]="item.open"></span>
                    </a>
                    <div *ngIf="item.menuGroups.length > 0" class="collapse" [class.show]="item.open">
                        <ul class="nav-second-level">
                            <li *ngFor="let child of item.menuGroups; let x = index;">
                                <!-- <a *ngIf="!child.childs" routerLink="{{child.link}}">
                                    <span> {{child.text}} </span>
                                </a> -->
                                <ng-container
                                    *ngIf="child.group == 'Reports' && child.menuItems[0].roleAllowed else report;">
                                    <a [href]="reportUrl" target="_blank" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Reports</a>
                                </ng-container>
                                <ng-template #report>
                                    <a class="cursor"
                                        *ngIf="getChilds(child.menuItems) && getChilds(child.menuItems).length > 0"
                                        (click)="openMenu(i, x)">
                                        <span> {{child.group}} </span>
                                        <span class="menu-arrow" [class.open]="child.open"></span>
                                    </a>
                                </ng-template>
                                <div *ngIf="getChilds(child.menuItems) && getChilds(child.menuItems).length > 0"
                                    class="collapse" [class.show]="child.open">
                                    <ul class="nav-second-level">
                                        <li *ngFor="let childx of getChilds(child.menuItems)" (click)="removeClass()">
                                            <a routerLink="{{getUrl(child.group ,childx.item)}}"
                                                routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">{{childx.item}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->