<div class="card mt-2">
    <div class="card-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-3 col-lg-4 col-12">
                    <h4 class="font-22">Properties</h4>
                </div>
                <div class="col-md-3 col-lg-2 col-12">
                    <div>
                        <lb-auto-complete appearance="outline" placeholder="For Lease" [multiple]="true" [clear]="true"
                            [fControl]="form.controls['lease']" [options]="selectLease">
                        </lb-auto-complete>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2 col-12">
                    <div>
                        <lb-auto-complete appearance="outline" placeholder="Auctions" [multiple]="true" [clear]="true"
                            [fControl]="form.controls['auctions']" [options]="selectAuctions">
                        </lb-auto-complete>
                    </div>
                </div>
                <div class="col-md-3 col-lg-4 col-12">
                    <div class="input-group top">
                        <input type="text" class="form-control rounded"
                            placeholder="Enter Location, Broker/Agent, or Description" formControlName="search"
                            (keydown.enter)="searchProperties({query : this.search.value.search})">
                        <div class="input-group-append">
                            <button class="btn button border-1 border text-white rounded" type="button"
                                (click)="searchProperties({query : this.search.value.search})">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-4 col-12" *ngFor="let item of data">
        <div class="card" style="height: 471px !important;">
            <span class="badge bg-warning custom_badge">{{item.website | titlecase}}</span>
            <img [src]="(item?.image?.image)?baseurl + item.image.image:'/assets/images/land.jpg'" onError="this.src='/assets/images/land.jpg'" class="card-img-top"
                alt="Land" width="391px" height="220px">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text height">{{item.excerpt}}</p>
                <a href="#" class="btn button text-white mb-0" routerLink="detail/{{item._id}}">Buy the Property</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <pagination-control [pager]="pager" [params]="params"></pagination-control>
    </div>
</div>
<app-loading></app-loading>